.sliderNew {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2500px);
    }
  }
  
  .slide-trackNew {
    display: flex;
    width: calc(250px * 20);
    animation-name: scroll;
    animation-duration: 30s; /* Adjust the duration to control the speed */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .slideNew {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
  }
